<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!--
	************************
	*** Properties Beans ***
	************************
	-->
	<bean id="propertyConfigurer" 
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>/WEB-INF/config/system.properties</value>
                <value>/WEB-INF/config/salesforce.properties</value>
                <value>/WEB-INF/config/mail.properties</value>
                <value>/WEB-INF/config/edm.properties</value>
            </list>
        </property> 
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="fileEncoding" value="utf-8" />
    </bean>
    
    <bean id="sysProperty" class="com.ldchotels.util.SystemProperty">							
	</bean>
	
	<bean id="sfProperty" class="com.ldchotels.util.SalesforceProperty">
		<property name="authorization">
			<value>${sf.authorization}</value>
		</property>
		<property name="userName">
			<value>${sf.userName}</value>
		</property>
		<property name="password">
			<value>${sf.password}</value>
		</property>
		<property name="maxBytesPerBatch">
			<value>${sf.maxBytesPerBatch}</value>
		</property>
		<property name="maxRowsPerBatch">
			<value>${sf.maxRowsPerBatch}</value>
		</property>				
		<property name="sleepTime">
			<value>${sf.sleepTime}</value>
		</property>			
		<property name="fileDir">
			<value>${file.dir}</value>
		</property>
		<property name="accountResultFile">
			<value>${session.account.result.file}</value>
		</property>
		<property name="reservationResultFile">
			<value>${session.reservation.result.file}</value>
		</property>
		<property name="reservationCOResultFile">
			<value>${session.reservationCO.result.file}</value>
		</property>
		<property name="transactionResultFile">
			<value>${session.transaction.result.file}</value>
		</property>
	</bean>

	<bean id="mailProperty" class="com.ldchotels.util.MailProperty">
		<property name="mailHost">
			<value>${mail.host}</value>
		</property>
		<property name="mailFrom">
			<value>${mail.from}</value>
		</property>
		<property name="mailAuth">
			<value>${mail.auth}</value>
		</property>
		<property name="mailUser">
			<value>${mail.user}</value>
		</property>
		<property name="mailPwd">
			<value>${mail.pwd}</value>
		</property>	
		<property name="mailSender">
			<value>${mail.sender}</value>
		</property>	
	</bean>
		
	<bean id="edmProperty" class="com.ldchotels.util.EdmProperty">
		<property name="sleepMillisecond">
			<value>${global.edm.sleep.milliseconds}</value>
		</property>	
		
		<property name="birthdayActiveSend">
			<value>${birthday.edm.active.mode}</value>
		</property>
		<property name="birthdayReadDB">
			<value>${birthday.edm.list.from.db}</value>
		</property>
		<property name="birthdayReadFile">
			<value>${birthday.edm.list.from.file}</value>
		</property>						
		<property name="birthdayEdmList">
			<value>${birthday.edm.list}</value>
		</property>			
		<property name="birthdayEdmUrl">
			<value>${birthday.edm.url}</value>
		</property>			
		<property name="birthdayEdmSubject">
			<value>${birthday.edm.subject}</value>
		</property>		
		
		<property name="chineseNewYearActiveSend">
			<value>${chineseNewYear.edm.active.mode}</value>
		</property>
		<property name="chineseNewYearReadDB">
			<value>${chineseNewYear.edm.list.from.db}</value>
		</property>
		<property name="chineseNewYearReadFile">
			<value>${chineseNewYear.edm.list.from.file}</value>
		</property>						
		<property name="chineseNewYearEdmList">
			<value>${chineseNewYear.edm.list}</value>
		</property>			
		<property name="chineseNewYearEdmUrl">
			<value>${chineseNewYear.edm.url}</value>
		</property>			
		<property name="chineseNewYearEdmSubject">
			<value>${chineseNewYear.edm.subject}</value>
		</property>

		<property name="christmasActiveSend">
			<value>${christmas.edm.active.mode}</value>
		</property>
		<property name="christmasReadDB">
			<value>${christmas.edm.list.from.db}</value>
		</property>
		<property name="christmasReadFile">
			<value>${christmas.edm.list.from.file}</value>
		</property>						
		<property name="christmasEdmList">
			<value>${christmas.edm.list}</value>
		</property>			
		<property name="christmasEdmUrl">
			<value>${christmas.edm.url}</value>
		</property>			
		<property name="christmasEdmSubject">
			<value>${christmas.edm.subject}</value>
		</property>
		
		<property name="dragonBoatActiveSend">
			<value>${dragonBoat.edm.active.mode}</value>
		</property>
		<property name="dragonBoatReadDB">
			<value>${dragonBoat.edm.list.from.db}</value>
		</property>
		<property name="dragonBoatReadFile">
			<value>${dragonBoat.edm.list.from.file}</value>
		</property>						
		<property name="dragonBoatEdmList">
			<value>${dragonBoat.edm.list}</value>
		</property>			
		<property name="dragonBoatEdmUrl">
			<value>${dragonBoat.edm.url}</value>
		</property>			
		<property name="dragonBoatEdmSubject">
			<value>${dragonBoat.edm.subject}</value>
		</property>
		
		<property name="fathersDayActiveSend">
			<value>${fathersDay.edm.active.mode}</value>
		</property>
		<property name="fathersDayReadDB">
			<value>${fathersDay.edm.list.from.db}</value>
		</property>
		<property name="fathersDayReadFile">
			<value>${fathersDay.edm.list.from.file}</value>
		</property>						
		<property name="fathersDayEdmList">
			<value>${fathersDay.edm.list}</value>
		</property>			
		<property name="fathersDayEdmUrl">
			<value>${fathersDay.edm.url}</value>
		</property>			
		<property name="fathersDayEdmSubject">
			<value>${fathersDay.edm.subject}</value>
		</property>		
		
		<property name="midAutumnActiveSend">
			<value>${midAutumn.edm.active.mode}</value>
		</property>
		<property name="midAutumnReadDB">
			<value>${midAutumn.edm.list.from.db}</value>
		</property>
		<property name="midAutumnReadFile">
			<value>${midAutumn.edm.list.from.file}</value>
		</property>						
		<property name="midAutumnEdmList">
			<value>${midAutumn.edm.list}</value>
		</property>			
		<property name="midAutumnEdmUrl">
			<value>${midAutumn.edm.url}</value>
		</property>			
		<property name="midAutumnEdmSubject">
			<value>${midAutumn.edm.subject}</value>
		</property>		

		<property name="mothersDayActiveSend">
			<value>${mothersDay.edm.active.mode}</value>
		</property>
		<property name="mothersDayReadDB">
			<value>${mothersDay.edm.list.from.db}</value>
		</property>
		<property name="mothersDayReadFile">
			<value>${mothersDay.edm.list.from.file}</value>
		</property>						
		<property name="mothersDayEdmList">
			<value>${mothersDay.edm.list}</value>
		</property>			
		<property name="mothersDayEdmUrl">
			<value>${mothersDay.edm.url}</value>
		</property>			
		<property name="mothersDayEdmSubject">
			<value>${mothersDay.edm.subject}</value>
		</property>
		
		<property name="bossActiveSend">
			<value>${boss.edm.active.mode}</value>
		</property>
		<property name="bossReadDB">
			<value>${boss.edm.list.from.db}</value>
		</property>
		<property name="bossReadFile">
			<value>${boss.edm.list.from.file}</value>
		</property>						
		<property name="bossEdmList">
			<value>${boss.edm.list}</value>
		</property>			
		<property name="bossEdmUrl">
			<value>${boss.edm.url}</value>
		</property>			
		<property name="bossEdmSubject">
			<value>${boss.edm.subject}</value>
		</property>

		<property name="ceoActiveSend">
			<value>${ceo.edm.active.mode}</value>
		</property>
		<property name="ceoReadDB">
			<value>${ceo.edm.list.from.db}</value>
		</property>
		<property name="ceoReadFile">
			<value>${ceo.edm.list.from.file}</value>
		</property>						
		<property name="ceoEdmList">
			<value>${ceo.edm.list}</value>
		</property>			
		<property name="ceoEdmUrl">
			<value>${ceo.edm.url}</value>
		</property>			
		<property name="ceoEdmSubject">
			<value>${ceo.edm.subject}</value>
		</property>

		<property name="udf1ActiveSend">
			<value>${udf1.edm.active.mode}</value>
		</property>
		<property name="udf1ReadDB">
			<value>${udf1.edm.list.from.db}</value>
		</property>
		<property name="udf1ReadFile">
			<value>${udf1.edm.list.from.file}</value>
		</property>						
		<property name="udf1EdmList">
			<value>${udf1.edm.list}</value>
		</property>			
		<property name="udf1EdmUrl">
			<value>${udf1.edm.url}</value>
		</property>			
		<property name="udf1EdmSubject">
			<value>${udf1.edm.subject}</value>
		</property>

		<property name="udf2ActiveSend">
			<value>${udf2.edm.active.mode}</value>
		</property>
		<property name="udf2ReadDB">
			<value>${udf2.edm.list.from.db}</value>
		</property>
		<property name="udf2ReadFile">
			<value>${udf2.edm.list.from.file}</value>
		</property>						
		<property name="udf2EdmList">
			<value>${udf2.edm.list}</value>
		</property>			
		<property name="udf2EdmUrl">
			<value>${udf2.edm.url}</value>
		</property>			
		<property name="udf2EdmSubject">
			<value>${udf2.edm.subject}</value>
		</property>

		<property name="udf3ActiveSend">
			<value>${udf3.edm.active.mode}</value>
		</property>
		<property name="udf3ReadDB">
			<value>${udf3.edm.list.from.db}</value>
		</property>
		<property name="udf3ReadFile">
			<value>${udf3.edm.list.from.file}</value>
		</property>						
		<property name="udf3EdmList">
			<value>${udf3.edm.list}</value>
		</property>			
		<property name="udf3EdmUrl">
			<value>${udf3.edm.url}</value>
		</property>			
		<property name="udf3EdmSubject">
			<value>${udf3.edm.subject}</value>
		</property>
										
	</bean>
 
 	<!-- 
	***************************
	*** Application Context ***
	***************************
	-->
	<bean id="applicationContextProvider" class="com.ldchotels.util.ApplicationContextProvider"></bean>
	
	<!-- 
	***************************
	*** Scheduler Job Beans ***
	***************************
	-->
    <!-- ****** For BirthdchineseNewYearuled job ****** -->
    <bean name="birthdayEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.BirthdayEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="birthdayEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="birthdayEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 1 * * ?" />
    </bean>

    <!-- ****** For Chinese New Year scheduled job ****** -->
    <bean name="chineseNewYearEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.ChineseNewYearEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="chineseNewYearEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="chineseNewYearEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>

    <!-- ****** For Christmas scheduled job ****** -->
    <bean name="christmasEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.ChristmasEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="christmasEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="christmasEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 20 12 ? 2299" />
    </bean>

    <!-- ****** For Dragon Boat scheduled job ****** -->
    <bean name="dragonBoatEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.DragonBoatEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="dragonBoatEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="dragonBoatEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 1 5 ? 2299" />
    </bean>

    <!-- ****** For Fathers' Day scheduled job ****** -->
    <bean name="fathersDayEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.FathersDayEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="fathersDayEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="fathersDayEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 3 8 ? 2299" /> 
    </bean>

    <!-- ****** For Mid Autumn scheduled job ****** -->
    <bean name="midAutumnEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.MidAutumnEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="midAutumnEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="midAutumnEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 20 9 ? 2299" />
    </bean>

    <!-- ****** For Mothers' Day scheduled job ****** -->
    <bean name="mothersDayEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.MothersDayEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="mothersDayEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mothersDayEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 5 5 ? 2299" />
    </bean>
    
    <!-- ****** For Boss scheduled job ****** -->
    <bean name="bossEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.BossEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="bossEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="bossEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>
    
    <!-- ****** For Ceo scheduled job ****** -->
    <bean name="ceoEdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.CeoEdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="ceoEdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="ceoEdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>
    
    <!-- ****** For Udf1 scheduled job ****** -->
    <bean name="udf1EdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.Udf1EdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="udf1EdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="udf1EdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>
    
    <!-- ****** For Udf2 scheduled job ****** -->
    <bean name="udf2EdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.Udf2EdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="udf2EdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="udf2EdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>
    
    <!-- ****** For Udf3 scheduled job ****** -->
    <bean name="udf3EdmSendJobDetail"    class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.ldchotels.edm.scheduler.jobs.Udf3EdmSendScheduledJob" />
        <property name="jobDataMap">
            <map>
                <entry key="edmProperty" value-ref="edmProperty" />
            </map>
        </property>
        <property name="durability" value="true" />
    </bean>
    <bean id="udf3EdmSendCronTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="udf3EdmSendJobDetail" />
        <!-- Seconds  Minutes  Hours  Day-of-Month  Month  Day-of-Week  Year(optional field) -->
        <property name="cronExpression" value="0 0 2 31 1 ? 2299" />
    </bean>

    <!-- Scheduler factory bean to glue together jobDetails and triggers to Configure Quartz Scheduler -->
    <bean  class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobDetails">
            <list>
                <ref bean="birthdayEdmSendJobDetail" />
                <ref bean="chineseNewYearEdmSendJobDetail" />
                <ref bean="christmasEdmSendJobDetail" />
                <ref bean="dragonBoatEdmSendJobDetail" />
                <ref bean="fathersDayEdmSendJobDetail" />
                <ref bean="midAutumnEdmSendJobDetail" />
                <ref bean="mothersDayEdmSendJobDetail" />
                <ref bean="bossEdmSendJobDetail" />
                <ref bean="ceoEdmSendJobDetail" />
                <ref bean="udf1EdmSendJobDetail" />
                <ref bean="udf2EdmSendJobDetail" />
                <ref bean="udf3EdmSendJobDetail" />
            </list>
        </property>
         <property name="triggers">
            <list>
                <ref bean="birthdayEdmSendCronTrigger" />
                <ref bean="chineseNewYearEdmSendCronTrigger" />
                <ref bean="christmasEdmSendCronTrigger" />
                <ref bean="dragonBoatEdmSendCronTrigger" />
                <ref bean="fathersDayEdmSendCronTrigger" />
                <ref bean="midAutumnEdmSendCronTrigger" />
                <ref bean="mothersDayEdmSendCronTrigger" />
                <ref bean="bossEdmSendCronTrigger" />
                <ref bean="ceoEdmSendCronTrigger" />
                <ref bean="udf1EdmSendCronTrigger" />
                <ref bean="udf2EdmSendCronTrigger" />
                <ref bean="udf3EdmSendCronTrigger" />
            </list>
        </property>
    </bean>

	<!--
	********************
	*** System Beans ***
	********************
	-->
	<bean id="companyDao" class="com.ldchotels.system.dao.CompanyDaoImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>

	<bean id="companyBo" class="com.ldchotels.system.bo.CompanyBoImpl">
		<property name="companyDao" ref="companyDao" />
	</bean>

	<bean id="roleDao" class="com.ldchotels.system.dao.RoleDaoImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>

	<bean id="roleBo" class="com.ldchotels.system.bo.RoleBoImpl">
		<property name="roleDao" ref="roleDao" />
	</bean>
	
	<bean id="memberDao" class="com.ldchotels.system.dao.MemberDaoImpl">
		<property name="sessionFactory" ref="systemSessionFactory" />
	</bean>

	<bean id="memberBo" class="com.ldchotels.system.bo.MemberBoImpl">
		<property name="memberDao" ref="memberDao" />
	</bean>
	
	<!--
	********************
	*** Protel Beans ***
	********************
	-->
	<bean id="kundenDao" class="com.ldchotels.protel.dao.KundenDaoImpl">
		<property name="sessionFactory" ref="protelSessionFactory" />
	</bean>

	<bean id="kundenBo" class="com.ldchotels.protel.bo.KundenBoImpl">
		<property name="kundenDao" ref="kundenDao" />
	</bean>
	
	<bean id="reservationDao" class="com.ldchotels.protel.dao.ReservationDaoImpl">
		<property name="sessionFactory" ref="protelSessionFactory" />
	</bean>

	<bean id="reservationBo" class="com.ldchotels.protel.bo.ReservationBoImpl">
		<property name="reservationDao" ref="reservationDao" />
	</bean>

	<bean id="reservationCODao" class="com.ldchotels.protel.dao.ReservationCODaoImpl">
		<property name="sessionFactory" ref="protelSessionFactory" />
	</bean>

	<bean id="reservationCOBo" class="com.ldchotels.protel.bo.ReservationCOBoImpl">
		<property name="reservationCODao" ref="reservationCODao" />
	</bean>
		
	<bean id="transactionDao" class="com.ldchotels.protel.dao.TransactionDaoImpl">
		<property name="sessionFactory" ref="protelSessionFactory" />
	</bean>

	<bean id="transactionBo" class="com.ldchotels.protel.bo.TransactionBoImpl">
		<property name="transactionDao" ref="transactionDao" />
	</bean>
	
	<!--
	********************
	*** Athena Beans ***
	********************
	-->
	<bean id="employeeHQDao" class="com.ldchotels.athena.dao.EmployeeHQDaoImpl">
		<property name="sessionFactory" ref="athenaHQSessionFactory" />
	</bean>

	<bean id="employeeSJDao" class="com.ldchotels.athena.dao.EmployeeSJDaoImpl">
		<property name="sessionFactory" ref="athenaSJSessionFactory" />
	</bean>
	
	<bean id="employeeTYDao" class="com.ldchotels.athena.dao.EmployeeTYDaoImpl">
		<property name="sessionFactory" ref="athenaTYSessionFactory" />
	</bean>
	
	<bean id="employeeHLDao" class="com.ldchotels.athena.dao.EmployeeHLDaoImpl">
		<property name="sessionFactory" ref="athenaHLSessionFactory" />
	</bean>
	
	<bean id="employeeKHDao" class="com.ldchotels.athena.dao.EmployeeKHDaoImpl">
		<property name="sessionFactory" ref="athenaKHSessionFactory" />
	</bean>
	
	<bean id="employeeCYDao" class="com.ldchotels.athena.dao.EmployeeCYDaoImpl">
		<property name="sessionFactory" ref="athenaCYSessionFactory" />
	</bean>
	
	<bean id="employeeSMLDao" class="com.ldchotels.athena.dao.EmployeeSMLDaoImpl">
		<property name="sessionFactory" ref="athenaSMLSessionFactory" />
	</bean>
	
	<bean id="employeePDCDao" class="com.ldchotels.athena.dao.EmployeePDCDaoImpl">
		<property name="sessionFactory" ref="athenaPDCSessionFactory" />
	</bean>
	
	<bean id="employeeYPDao" class="com.ldchotels.athena.dao.EmployeeYPDaoImpl">
		<property name="sessionFactory" ref="athenaYPSessionFactory" />
	</bean>
	
</beans>